<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuan.springappinfo.mapper.FlatFormMapper" >
  <resultMap id="BaseResultMap" type="com.xuan.springappinfo.pojo.FlatForm" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flatformName" property="flatformname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, flatformName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flatform
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flatform
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuan.springappinfo.pojo.FlatForm" >
    insert into flatform (id, flatformName)
    values (#{id,jdbcType=INTEGER}, #{flatformname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xuan.springappinfo.pojo.FlatForm" >
    insert into flatform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="flatformname != null" >
        flatformName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="flatformname != null" >
        #{flatformname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuan.springappinfo.pojo.FlatForm" >
    update flatform
    <set >
      <if test="flatformname != null" >
        flatformName = #{flatformname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuan.springappinfo.pojo.FlatForm" >
    update flatform
    set flatformName = #{flatformname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>