<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuan.springappinfo.mapper.InterfaceLanguageMapper" >
  <resultMap id="BaseResultMap" type="com.xuan.springappinfo.pojo.InterfaceLanguage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="language" property="language" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, language
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from interfacelanguage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from interfacelanguage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuan.springappinfo.pojo.InterfaceLanguage" >
    insert into interfacelanguage (id, language)
    values (#{id,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xuan.springappinfo.pojo.InterfaceLanguage" >
    insert into interfacelanguage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="language != null" >
        language,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuan.springappinfo.pojo.InterfaceLanguage" >
    update interfacelanguage
    <set >
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuan.springappinfo.pojo.InterfaceLanguage" >
    update interfacelanguage
    set language = #{language,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>