<!--<td>\n" +-->
    <!--"        <fmt:formatDate value=\"" + result[i].modifyDate }\"\n" +-->
    <!--"                        pattern=\"yyyy-MM-dd\"/>\n" +-->
    <!--"    </td>\n" +
-->


<!--@DateTimeFormat(pattern = “yyyy-MM-dd HH:mm:ss”)-->





<thead>
<tr role="row">
    <th class="sorting_asc" tabindex="0"
        aria-controls="datatable-responsive" rowspan="1" colspan="1"
        style="width: 70px;" aria-label="First name: activate to sort column descending"
        aria-sort="ascending">软件名称</th>
    <th class="sorting" tabindex="0"
        aria-controls="datatable-responsive" rowspan="1" colspan="1"
        style="width: 10px;"
        aria-label="Last name: activate to sort column ascending">
        APK名称</th>
    <th class="sorting" tabindex="0"
        aria-controls="datatable-responsive" rowspan="1" colspan="1"
        style="width: 90px;"
        aria-label="Last name: activate to sort column ascending">
        软件大小(单位:M)</th>
    <th class="sorting" tabindex="0"
        aria-controls="datatable-responsive" rowspan="1" colspan="1"
        style="width: 50px;"
        aria-label="Last name: activate to sort column ascending">
        所属平台</th>
    <th class="sorting" tabindex="0"
        aria-controls="datatable-responsive" rowspan="1" colspan="1"
        style="width: 170px;"
        aria-label="Last name: activate to sort column ascending">
        所属分类(一级分类、二级分类、三级分类)</th>
    <th class="sorting" tabindex="0"
        aria-controls="datatable-responsive" rowspan="1" colspan="1"
        style="width: 30px;"
        aria-label="Last name: activate to sort column ascending">
        状态</th>
    <th class="sorting" tabindex="0"
        aria-controls="datatable-responsive" rowspan="1" colspan="1"
        style="width: 30px;"
        aria-label="Last name: activate to sort column ascending">
        下载次数</th>
    <th class="sorting" tabindex="0"
        aria-controls="datatable-responsive" rowspan="1" colspan="1"
        style="width: 64px;"
        aria-label="Last name: activate to sort column ascending">
        最新版本号</th>
    <th class="sorting" tabindex="0"
        aria-controls="datatable-responsive" rowspan="1" colspan="1"
        style="width: 30px;"
        aria-label="Last name: activate to sort column ascending">
        操作</th>
</tr>
</thead>
<tbody>
<tr role="row" class="odd">
    <td tabindex="0" class="sorting_1">softwareName</td>
    <td>APKName </td>
    <td>softwareSize </td>
    <td>flatformName </td>
    <td>categoryLevel1Name  -> categoryLevel2Name } -> categoryLevel3Name }</td>
    <td>statusName </td>
    <td>downloads </td>
    <td>versionNo </td>
    <td>
        <button type="button"  class="btn btn-default checkApp"
                data-toggle="tooltip" data-placement="top"
                title="" data-original-title="查看并审核APP">
            审核
        </button>
    </td>
</tr>
</tbody>
